<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

</head>

<body>

    <head>
        <%- include('../../partials/navbar.ejs') %>
    </head>
    <div class="container">
        <h2>Login</h2>
        <form action="/admin/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit">
        </form>
    </div>

</body>

</html>