
.aboveTable{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#filterInput{
  width: 25vw;
  height: 40px;
}

#sortTH{
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sortTH > i{
  margin-top: 5px;
}